.card{
  display: flex;
  flex-direction: column;
  width:18rem;
  background-color:hsl(0, 0%, 12%);
  align-items: center;
  justify-content: center;
  height: 27rem;
}
.but{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:center;
  margin-top: 15px;
}
button{
  width: 12rem;
  height: 2rem;
  border-radius: 5px;
  border-width: 1px;
  margin: 0px 0px 7px 0px;
  color: white;
  background-color: hsl(0, 0%, 20%);
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.mg{
  width: 100%;
  border-radius: 40px;
}
.image{
  width: 80px;
}
.type{
  color: hsl(75, 94%, 57%);
}
.location{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name,.info{
  color: hsl(0, 0%, 100%);
}
.name{
  font-size: 2rem;
  font-weight: 700;
}
.info{
  margin: 10px 0px 10px 0px;
}
.page_container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
}
button:hover{
  background-color:hsl(75, 94%, 57%) ;
  cursor: pointer;
}